<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
<!--<form th:action="@{/postlist/{id}(id=${boardDTO.id})}" method="post">-->
<form th:action="@{'/postlist/editpost/'+${boardDTO.id}}" method="post">
    <!-- 수정할 게시글 제목 입력 폼 -->
    <input type="text" th:value="${boardDTO.boardTitle}" name="boardTitle" placeholder="게시글 제목">

    <!-- 수정할 게시글 내용 입력 폼 -->
    <textarea name="boardContent" th:text="${boardDTO.boardContent}" placeholder="게시글 내용">
    </textarea>

    <!-- 저장 버튼 -->
    <button type="submit">저장</button>
</form>

<!-- 목록으로 돌아가는 링크 -->
<a href="/postlist">목록으로 돌아가기</a>

</form>
</body>
</html>