<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post Detail</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<div class="board_entry">
    <p th:text="${post.boardTitle}">board title</p>
    <p th:text="${post.boardContent}">board content</p>
    <br/>
    <a th:href="@{'/postlist/editpost/' + ${post.id}}">MODIFY</a>
    <a th:href="@{'/postlist/deletepost/'+${post.id}}">DELETE</a>
</div>
<a th:href="@{/postlist}">Back to list</a>
</div>
</body>
</html>