<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 목록</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div th:if="${noPost}">
    <p>현재 게시물이 없습니다.</p>
</div>
<!--//noPost 변수가 false일 때만 해당 부분 표시-->
<div class="board-entry" th:unless="${noPost}" >
    <ul>
        <li th:each="post : ${postlist}">
            <a th:href="@{/postlist/{id}(id=${post.id})}" th:text="${post.boardTitle}"></a>
        </li>
    </ul>

    </form>
</div>

</body>
</html>